[user]
	name = Jacky Alciné
	email = me@jalcine.me

[url "git@github.com:"]
  insteadOf=ghub:
  insteadOf=https://github.com/
  insteadOf=http://github.com/
  pushInsteadOf=ghub:
  pushInsteadOf=https://github.com/

[url "git@github.com:jalcine/"]
  insteadOf=me:
  insteadOf=https://github.com/jalcine/
  insteadOf=http://github.com/jalcine/
  pushInsteadOf=me:
  pushInsteadOf=https://github.com/jalcine/

[url "git@github.com:thesii/"]
  insteadOf=sii:
  pushInsteadOf=sii:
  pushInsteadOf=https://github.com/thesii/

[color]
	ui = auto
[merge]
	tool = diffuse
