[submodule ".vim"]
	path = .vim
	url = me:.vimrc
[submodule ".rbenv"]
	path = .rbenv
	url = me:rbenv
[submodule ".bash/bash-it"]
	path = .bash/bash-it
	url = me:bash-it
[submodule ".nvm"]
	path = .nvm
	url = ghub:creationix/nvm
