[submodule "home/.bash/bash-it"]
	path = home/.bash/bash-it
	url = me:bash-it
[submodule "home/.nvm"]
	path = home/.nvm
	url = ghub:creationix/nvm
[submodule "home/.rbenv"]
	path = home/.rbenv
	url = me:rbenv
