[core]
  whitespace     = -trailing-space,-indent-with-non-tab,-tab-in-indent
  editor         = vim
  pager          = most
  excludesfile   = ~/.gitignore_global
  attributesfile = ~/.gitattributes

[url "git://anongit.kde.org/"]
  insteadOf = kde:

[url "~/Development/Projects/"]
  insteadOf = local:
  insteadOf = lcl:

[url "git@github.com:"]
  insteadOf = gh:
  insteadOf = ghub:
  insteadOf = github:
  insteadOf = https://github.com/
  insteadOf = http://github.com/

[url "git@bitbucket.org:"]
  insteadOf = bbt:
  insteadOf = bitbucket:

[url "git@github.com:jalcine/"]
  insteadOf = me:
  insteadOf = https://github.com/jalcine/
  insteadOf = http://github.com/jalcine/

[url "git@gitorious.org:"]
  insteadOf = gitorious:

[url "git@git.kde.org:"]
  pushInsteadOf = kde:
  pushInsteadOf = git://anongit.kde.org/

[url "git@heroku.com:"]
  insteadOf = heroku:
  insteadOf = git://heroku.com/

[color]
  ui     = always
  branch = true
  diff   = true
  pager  = true
  status = true

[difftool "myvimdiff"]
  cmd = vimdiff \"$REMOTE\" \"$LOCAL\"

[merge]
  tool              = myvimdiff
  defaultToUpstream = true
  log               = 900
  stat              = true
  verbosity         = 3

[grep]
  linenumber = true

[format]
  signoff = true

[diff]
  tool    = myvimdiff
  dirstat = files,10,cumulative

[push]
  default = tracking

[status]
  relativePaths = true

[alias]
  changes       = log --pretty=format:\"%h %cr %cn %Cgreen%s%Creset\" --name-status
  short         = log --pretty=format:\"%h %cr %cn %Cgreen%s%Creset\"
  changelog     = log --pretty=format:\" * %s\"
  shortnocolor  = log --pretty= format:\"%h %cr %cn %s\"
  diverges      = !bash -c 'diff -u <(git rev-list --first-parent "${1}") <(git rev-list --first-parent "${2:-HEAD}") | sed -ne \"s/^ //p\" | head -1' -
  d             = diff
  dc            = diff --cached
  last          = diff HEAD^
  unstage       = reset HEAD
  uncommit      = reset --soft HEAD^
  filelog       = log -u
  mt            = mergetool
  ss            = stash
  sl            = stash list
  sa            = stash apply
  sd            = stash drop
  l             = log -18 --color=always --all --topo-order         --pretty='format:%Cgreen%h%Creset %s%Cred%d%Creset %C(black bold)(by %an)%Creset'
  ll            = log     --color=always --all --topo-order         --pretty='format:%Cgreen%h%Creset %s%Cred%d%Creset %C(black bold)(by %an)%Creset'
  gl            = log -12 --color=always --all --graph --topo-order --pretty='format:%Cgreen%h%Creset %s %C(black bold)(by %an)%Creset%C(yellow bold)%d%Creset%n'
  gll           = log     --color=always --all --graph --topo-order --pretty='format:%Cgreen%h%Creset %s %C(black bold)(%cr by %an)%Creset%C(yellow bold)%d%Creset%n'
  pull          = pull --ff-only
  pul           = pull
  puhs          = push
  up            = merge --ff-only
  join          = merge --no-ff
  ci            = commit
  cm            = commit -m
  currentbranch = rev-parse --abbrev-ref HEAD
  wdiff = diff --color-words
  undo-commit   = reset --soft HEAD^

[github]
  user = jalcine

[hooks]
  global = $HOME/.githooks

[i18n]
  commitencoding = utf-8

[ghi "highlight"]
  style = colorful

[ghi]
  edtior = vim

[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f

[user]
  name = Jacky Alciné

[branch]
  autosetuprebase = always

[include]
  path = ~/.gitconfig.local

