# Learn about this file via `man readline`. The more you know!
"\t": menu-complete
"\e[2~": paste-from-clipboard
"\e[3~": delete-char
"\e[5~": beginning-of-history
"\e[6~": end-of-history
"\e[7~": beginning-of-line
"\e[8~": end-of-line

set bell-style visible
set completion-ignore-case on
set completion-query-items 100
set convert-meta off
set editing-mode emacs
set input-meta on
set mark-directories on
set mark-modified-lines off
set mark-symlinked-directories on
set menu-complete-display-prefix on
set output-meta on
set show-all-if-ambiguous off
set visible-stats on
