color=true
engine-strict=true
init-author-email=yo@jacky.wtf
init-author-name=Jacky Alciné
init-author-url=https://jacky.wtf/
init-license=MIT
init-version=0.0.1
link=true
loglevel=http
long=true
save-exact=true
sign-git-tag=true
usage=true
user-agent=npm/{npm-version}
version=true
