color=true
init-author-email=yo@jacky.wtf
init-author-name=Jacky Alciné
init-author-url=https://jacky.wtf/
init-license=MIT
init-version=0.0.1
link=false
long=false
save-exact=true
sign-git-tag=true
usage=true
user-agent=jalcine-npm/{npm-version}
version=true
verbose=false
progress=true
