# vim: set ft=conf tw=78
username = jalcine
browser = x-www-browser
editor = vim
init.author.email = me@jalcine.me
init.author.name = Jacky Alciné
init.author.url = http://jalcine.me/
tmp = /home/jacky/.tmp
sign-git-tag = true
