! vim: set foldmethod=marker

! {{{ URxvrt options 
URxvt.depth: 32
URxvt.background: rgba:1111/1111/1111/dddd
URxvt.scrollBar: false
URxvt.perl-ext-common: default,matcher
URxvt.iso14755: False
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1
URxvt.letterSpace: -2
URxvt.font: xft:monoOne:size=8.5
! }}}

! {{{ XTerm opts
XTerm*selectToClipboard: true
! }}}

! {{{ Color Scheme
! special
*.foreground:   #c5c8c6
*.background:   #1d1f21
*.cursorColor:  #c5c8c6

! black
*.color0:       #1d1f21
*.color8:       #969896

! red
*.color1:       #cc6666
*.color9:       #cc6666

! green
*.color2:       #b5bd68
*.color10:      #b5bd68

! yellow
*.color3:       #f0c674
*.color11:      #f0c674

! blue
*.color4:       #81a2be
*.color12:      #81a2be

! magenta
*.color5:       #b294bb
*.color13:      #b294bb

! cyan
*.color6:       #8abeb7
*.color14:      #8abeb7

! white
*.color7:       #c5c8c6
*.color15:      #ffffff
! }}}

! Urxvt Options
URxvt.scrollBar: off
URxvt.cursorBlink: true
 
! clickable links
URxvt.perl-ext-common: default,matcher,resize-font,vtwheel,clipboard
URxvt.url-launcher: firefox
URxvt.matcher.button: 1
URxvt.transparent: false
URxvt.borderLess: false
URxvt*saveLines:  0

URxvt*loginShell: true
URxvt*scrollTtyKeypress: true
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: false
URxvt*secondaryScreen: true
URxvt*secondaryScroll: true
URxvt*skipScroll: true
URxvt*scrollBar_right: false
URxvt*scrollBar_floating: false
URxvt*.transparent: true
! URxvt*.shading: 0 to 99 darkens, 101 to 200 lightens
URxvt*.shading: 110
URxvt.resize-font.smaller: C-Down
URxvt.resize-font.bigger: C-Up
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
!URxvt.clipboard.copycmd:  xsel -ib
!URxvt.clipboard.pastecmd: xsel -ob
