! vim: set foldmethod=marker

! {{{ Color Scheme
! special
*.background:   #969896
*.foreground:   #c5c8c6
*.cursorColor:  #c5c8c6

! black
*.color0:       #1d1f21
*.color8:       #969896

! red
*.color1:       #cc6666
*.color9:       #cc6666

! green
*.color2:       #b5bd68
*.color10:      #b5bd68

! yellow
*.color3:       #f0c674
*.color11:      #f0c674

! blue
*.color4:       #81a2be
*.color12:      #81a2be

! magenta
*.color5:       #b294bb
*.color13:      #b294bb

! cyan
*.color6:       #8abeb7
*.color14:      #8abeb7

! white
! *.color7:       #c5c8c6
*.color7:       #ffffff
*.color15:      #ffffff
! }}}

! {{{ URxvrt options
URxvt.background: [95]#969896
URxvt.foreground: [95]#c5c8c6
URxvt.borderLess: false
URxvt.clipboard.copycmd:  xsel -ib
URxvt.clipboard.pastecmd: xsel -ob
URxvt.cursorBlink: true
URxvt.depth: 32
URxvt.font: xft:DroidSansMono:size=8
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.letterSpace: -2
URxvt.loginShell: true
URxvt.matcher.button: 1
URxvt.perl-ext-common: default,matcher,resize-font,vtwheel,clipboard,url-select,fullscreen
URxvt.resize-font.bigger: C-Up
URxvt.resize-font.smaller: C-Down
URxvt.saveLines: 0
URxvt.scrollBar: plain
URxvt.scrollBar_floating: true
URxvt.scrollBar_right: true
URxvt.scrollTtyKeypress: true
URxvt.scrollTtyOutput: true
URxvt.scrollWithBuffer: true
URxvt.secondaryScreen: true
URxvt.secondaryScroll: false
URxvt.shading: 10
URxvt.skipScroll: true
URxvt.transparent: true
URxvt.url-launcher: /usr/bin/x-www-browser
URxvt.matcher.rend.0: Uline Bold fg5
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true
URxvt.keysym.F11: perl:fullscreen:switch
! }}}

! {{{ XTerm opts
XTerm*selectToClipboard: true
! }}}
