! vim: set foldmethod=marker :

#include "~/.Xresources.d/colors"

! {{{ URxvrt options
URxvt.background: [95]#969896
URxvt.foreground: [95]#c5c8c6
URxvt.borderLess: false
URxvt.clipboard.copycmd:  xsel -ib
URxvt.clipboard.pastecmd: xsel -ob
URxvt.cursorBlink: true
URxvt.depth: 32
URxvt.font: xft:DroidSansMono:size=9
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.letterSpace: -2
URxvt.loginShell: true
URxvt.matcher.button: 1
URxvt.perl-ext-common: default,matcher,resize-font,vtwheel,clipboard,url-select,fullscreen
URxvt.resize-font.bigger: C-Up
URxvt.resize-font.smaller: C-Down
URxvt.saveLines: 1
URxvt.scrollBar: plain
URxvt.scrollBar_floating: true
URxvt.scrollBar_right: true
URxvt.scrollTtyKeypress: true
URxvt.scrollTtyOutput: true
URxvt.scrollWithBuffer: true
URxvt.secondaryScreen: true
URxvt.secondaryScroll: false
URxvt.shading: 10
URxvt.skipScroll: true
URxvt.transparent: true
URxvt.url-launcher: /usr/bin/x-www-browser
URxvt.matcher.rend.0: Uline Bold fg5
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true
URxvt.keysym.F11: perl:fullscreen:switch
! }}}

! {{{ XTerm opts
XTerm*selectToClipboard: true
! }}}
!
! {{{ HiDPi
Xft.dpi: 192
Xft.autohint: 1
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
! }}}
